
body {
    margin-top: 139px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.container {
width: 817px;
height: 664px;

display: flex;
flex-direction: column;
flex-wrap: nowrap;
justify-content: space-between;
align-content: center;
align-items: center;

border: 1px solid;

}

header {
    width: 100%;
    height: 68px;
    background: #C4C4C4;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1, header button {
    margin: 20px;
    font-size: 1.5em;
    font-family: "Roboto", sans-serif;
}

li {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    margin-top: 10px;
}

p {
    width: 737px;
    border: 1px solid;
    padding: 10px 20px;

    font-family: "Roboto", sans-serif;
    font-size: 1.125em;

    word-wrap: break-word;
    word-break: break-all;
}

.wpp {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;

    border-top: 1px solid;
    height: 100%;
    width: 100%;
}

.mensagem {
    min-width: 737px;;
    height: 426px;
    overflow: auto;
}

.entrada {
    background: #C4C4C4;
    border: 1px solid;
    border-bottom: 0px;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
}

textarea {
    width: 500px;
    margin: 10px;
    padding: 10px;
    padding-bottom: 95px;

    font-family: "Roboto", sans-serif;
    font-size: 1.125em;

    resize: none;
    word-wrap: break-word;
    word-break: break-all;
}

.btn-enviar {
    border-radius: 10px;
    margin: 10px;
    margin-left: 0px;
}

button {
    
    font-size: 0.875em;
    font-family: "Roboto", sans-serif;
    border: 0px solid;
}

.input-editar {
    margin: 5px;
    width: 300px;

    font-family: "Roboto", sans-serif;
    font-size: 1.125em;
}

